extends /layout.pug

block variables
  - var name = 'main_maintenance';
  - var section = 'Направление';
  - var title = `Сервис ${series.name.nbsp()}`;
  - var seoTitle = `${title} в Москве | Автосервис BMW «FGSEVER»`;
  - var subtitle = `${title} в Москве — техническое обслуживание, дооснащение, кодирование опций, обновление ПО и карт навигации, диагностика и заправка кондиционеров.`;
  - var path = {'/services/': 'Услуги', '': series.name.nbsp()};
  - var image = `/models/${series.key}/${series.image}-original.png`;

block content
  +main({ name, path, section, title, subtitle, image })
  +services
  case series.key
    when '1-series'
      include /models/1-series
    when '2-series'
      include /models/2-series
    when '3-series'
      include /models/3-series
    when '4-series'
      include /models/4-series
    when '5-series'
      include /models/5-series
    when '6-series'
      include /models/6-series
    when '7-series'
      include /models/7-series
    when '8-series'
      include /models/8-series
    when 'x1'
      include /models/x1
    when 'x2'
      include /models/x2
    when 'x3'
      include /models/x3
    when 'x4'
      include /models/x4
    when 'x5'
      include /models/x5
    when 'x6'
      include /models/x6
    when 'x7'
      include /models/x7
    when 'xm'
      include /models/xm
    when 'z4'
      include /models/z4
    when 'i3'
      include /models/i3
    when 'i4'
      include /models/i4
    when 'i5'
      include /models/i5
    when 'i7'
      include /models/i7
    when 'ix1'
      include /models/ix1
    when 'ix2'
      include /models/ix2
    when 'ix3'
      include /models/ix3
    when 'ix'
      include /models/ix
  include /appointment
  include /about/advantages
  +about
  include /contacts
