extends /layout.pug

block variables
  - var name = 'main_maintenance';
  - var section = 'Услуга';
  - var title = `${maintenance.name} ${series.name.nbsp()}`;
  - var models = model.codes;
  - var seoTitle = `${title} (${models}) в Москве | Автосервис BMW «FGSEVER»`;
  - var subtitle = maintenance.description.replace('<series.name>', series.name.nbsp()).replace('<model.codes>', `(${model.codes})`);
  - var path = {'/services/': 'Услуги', [`/services/${series.key}/`]: series.name.nbsp(), [`/services/${series.key}/${model.key}/`]: models, [`/services/${series.key}/${model.key}/maintenance`]: 'Техническое обслуживание', '': maintenance.name};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];
  - var image = `/models/${series.key}/${model.image || model.key}-original.png`;

block content
  +main({ name, path, section, title, models, subtitle, button, image })
  case maintenance.key
    when "suspension-repair"
      include /maintenance/description/suspension-repair
    when "oil-change"
      include /maintenance/description/oil-change
    when "mechanical-fluids-change"
      include /maintenance/description/mechanical-fluids-change
    when "timing-chain-replacement"
      include /maintenance/description/timing-chain-replacement
    when "engine-repair"
      include /maintenance/description/engine-repair
    when "engine-replacement"
      include /maintenance/description/engine-replacement
    when "car-diagnostics"
      include /maintenance/description/car-diagnostics
    when "radiators-wash"
      include /maintenance/description/radiators-wash
    when "computer-diagnostics"
      include /maintenance/description/computer-diagnostics
    when "electrical-repair"
      include /maintenance/description/electrical-repair
    when "steering-repair"
      include /maintenance/description/steering-repair
    when "brakes-replacement"
      include /maintenance/description/brakes-replacement
    when "intake-manifold-cleaning"
      include /maintenance/description/intake-manifold-cleaning
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Стоимость работ для #{series.name}
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr
                td Замена передних тормозных дисков
                td 1 800 ₽
              tr
                td Замена передних тормозных колодок
                td 1 000 ₽
              tr
                td Замена задних тормозных дисков
                td 2 500 ₽
              tr
                td Замена задних тормозных колодок
                td 1 500 ₽
              tr
                td Замена тормозной системы на спортивную M
                td Рассчитывается индивидуально
  include /appointment
  case maintenance.key
    when "suspension-repair"
      include /maintenance/photos/suspension-repair
    when "oil-change"
      include /maintenance/photos/oil-change
    when "mechanical-fluids-change"
      include /maintenance/photos/mechanical-fluids-change
    when "timing-chain-replacement"
      include /maintenance/photos/timing-chain-replacement
    when "engine-repair"
      include /maintenance/photos/engine-repair
    when "engine-replacement"
      include /maintenance/photos/engine-replacement
    when "car-diagnostics"
      include /maintenance/photos/car-diagnostics
    when "radiators-wash"
      include /maintenance/photos/radiators-wash
    when "computer-diagnostics"
      include /maintenance/photos/computer-diagnostics
    when "electrical-repair"
      include /maintenance/photos/electrical-repair
    when "steering-repair"
      include /maintenance/photos/steering-repair
    when "brakes-replacement"
      include /maintenance/photos/brakes-replacement
    when "intake-manifold-cleaning"
      include /maintenance/photos/intake-manifold-cleaning
  include /about/advantages
  include /about  
  include /contacts
