extends /layout.pug

block variables
  - var name = 'main_maintenance';
  - var section = 'Направление';
  - var title = `Техническое обслуживание (ТО) ${series.name.nbsp()}`;
  - var models = model.codes;
  - var seoTitle = `${title} (${models}) в Москве | Автосервис BMW «FGSEVER»`;
  - var subtitle = `${title} (${models}) в Москве — компьютерная и общая диагностика, замена масел и технических жидкостей, тормозных дисков и колодок, цепи ГРМ, ремонт и замена ДВС, мойка радиаторов, ремонт рулевой рейки.`;
  - var path = {'/services/': 'Услуги', [`/services/${series.key}/`]: series.name.nbsp(), [`/services/${series.key}/${model.key}/`] : models, '': 'Техническое обслуживание'};
  - var button = ['#maintenance-calculator', 'Рассчитать стоимость'];
  - var image = `/models/${series.key}/${model.image || model.key}-original.png`;

block content
  +main({ name, path, section, title, models, subtitle, button, image })
  include /maintenance/calculator
  include /maintenance/services
  include /appointment
  include /contacts
