extends /layout.pug

block variables
  - var name = 'main_maintenance';
  - var section = 'Услуга';
  - var models = series.models.map(model => model.codes).join(', ');
  - var title = `Замена тормозных колодок и дисков BMW ${series.modelDesc} в Москве`;
  - var seoTitle = `Замена колодок БМВ ${series.model} и тормозных дисков в Москве | Цена на замену задних тормозных колодок, передних и дисков BMW ниже дилеров!`;
  - var subtitle = `Замена задних колодок БМВ ${series.modelDesc} передних и тормозных дисков. Профильно занимаемся ТО тормозных систем BMW с 2014 года по цене ниже дилерских автосервисов!`;
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание', '/services/maintenance/zamena-tormoznyh-diskov-i-kolodok-bmw/': 'Замена тормозных колодок и дисков', '': series.name};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];
  - var image = `/models/${series.key}/${series.image}-original.png`;

block content
  +main({ name, path, section, title, subtitle, button, image })
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Суть обслуживания тормозной системы
      .block
        .icon.information-color
        h3 Зачем проводится замена колодок БМВ
        p Для обеспечения штатной работы тормозной системы БМВ #{series.modelDesc} требуется своевременно проходить регламентную процедуру замены колодок с датчиками. В противном случае низкая эффективность торможения легко может привести к аварийной ситуации на дороге. Бортовая электроника укажет момент необходимости поездки в автосервис для замены тормозных колодок БМВ #{series.modelDesc}.
        h3 Когда требуется замена тормозных колодок БМВ
        p ЭБУ всех комплектаций авто с датчиком износа колодок заблаговременно предупредит хозяина о необходимости скорой поездки в автосервис, в остальных случаях придерживайтесь регламента.
        p Контроль колодок необходимо производить каждые 7 000 км пробега, и в среднем, при спокойной езде с минерализацией резких торможений в пол, замена колодок БМВ #{series.modelDesc} проходит после 21 000 км.
        p
          b Для того чтобы не прибегать к визуально инструментальному измерению опишем предпосылки скорого износа колодок.
        ul
          li Регулярные посторонние скрипы или скрежет при торможении и не плавное замедление;
          li Несвоевременное срабатывание тормозов, авто начинает непредсказуемо растормаживаться при одинаковом усилии на педаль или равном ускорении;
          li Авто очень медленно растормаживается.
        h3 Когда требуется замена тормозных дисков БМВ #{series.modelDesc}
        p В среднем после второй или третьей замены колодок нужно менять тормозные диски на оси. Все манипуляции выполняют исключительно парно, касаемо как колодок, так и дисков. В противном случае, при торможении авто несанкционированно будет тащить в стороны, и будут срабатывать системы стабилизации. Обязательно проверяйте износ дисков в сервисе каждые 40 000 км.
        p
          b При появлении данных симптомов вероятна замена тормозных дисков БМВ #{series.modelDesc} / + колодок
        ul
          li Биение в педаль тормоза при нажатии;
          li Рывки при торможении;
          li Видимое увеличение тормозного пути
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Цена замены дисков и колодок БМВ #{series.modelDesc}
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr
                td Замена передних тормозных дисков #{series.modelDesc}
                td <? echo format_price($workPrices['#{series.key}']['frontBrakeDisks']) ?>
              tr
                td Замена передних тормозных колодок #{series.modelDesc}
                td <? echo format_price($workPrices['#{series.key}']['frontBrakePads']) ?>
              tr
                td Замена задних тормозных дисков #{series.modelDesc}
                td <? echo format_price($workPrices['#{series.key}']['rearBrakeDisks']) ?>
              tr
                td Замена задних тормозных колодок #{series.modelDesc}
                td <? echo format_price($workPrices['#{series.key}']['rearBrakePads']) ?>
              tr
                td Замена тормозной системы на спортивную M
                td Рассчитывается индивидуально
              tr
                td Замена датчика колодок на БМВ #{series.modelDesc}
                td Рассчитывается индивидуально
  include /maintenance/photos/brakes-replacement
  include /about/advantages
  +about
  include /contacts
