extends /layout.pug

block variables
  - var name = 'main_maintenance';
  - var section = 'Услуга';
  - var models = series.models.map(model => model.codes).join(', ');
  - var title = `Замена масла BMW ${series.modelDesc} в Москве`;
  - var seoTitle = `Замена масла в АКПП БМВ ${series.model} в Москве | Цена на замену масла в раздатке и редукторе BMW ниже дилеров!`;
  - var subtitle = `Замена масла в раздатке БМВ ${series.modelDesc} редукторе и АКПП. Профильно занимаемся ТО коробок передач, редукторов и раздаточных коробок BMW с 2014 года по цене ниже дилерских автосервисов!`;
  - var path = {'/services/': 'Услуги', '/services/maintenance/': 'Техническое обслуживание', '/services/maintenance/zamena-masla-bmw/': 'Замена масла', '': series.name};
  - var button = ['popup', '#maintenance-appointment', 'Записаться'];
  - var image = `/models/${series.key}/${series.image}-original.png`;

block content
  +main({ name, path, section, title, subtitle, button, image })
  section.description
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Замена масла в АКПП и редукторах БМВ #{series.modelDesc}
      .block
        .icon.information-color
        h3 Зачем нужна замена масла в АКПП БМВ
        p Смена трансмиссионной жидкости в автоматических коробках передач не предусмотрена техническим регламентом производителя на всем этапе эксплуатации авто в легких условиях, к коем никак не относится московский экстремальный трафик. При тяжёлых условиях пробок в Москве с катастрофическими перегревами летом и суровыми морозами зимой, особенно если авто используется на коротких маршрутах. Замена масла в коробке передач БМВ #{series.modelDesc} выполняется один раз в 50 – 60 тысяч км пробега, но не позже.
        p Причина тому необходимость регулярного удаления из агрегата продуктов износа исполнительных устройств. При пробегах 50 000 – 60 000 фильтры АКПП БМВ уже частично забиваются и плохо справляются с задачей фильтрации без нарушения нормального потока масла. Коробка передач начинает испытывать масляное голодание, что катастрофически усугубляет износ фрикционов, стружка от которых моментально забивает гидролинии, что приводит к некорректной работе АКПП (коробка пинается и дергает) и скорому выходу ее из строя.
        h3 Когда нужно менять масло в коробке передач БМВ #{series.modelDesc}
        p Гипоидное масло ATF в коробке мы советуем менять в Москве 1 раз на каждые 50 000 км - 60 000 км грязного пробега, с учетом пробок и прогревов. Первую же полную замену рекомендуем выполнить на 80 000 км пробега.
        h3 Как происходит замена масла в АКПП БМВ в нашем сервисе
        p В нашем профильном автосервисе БМВ на северо-востоке Москвы мы практикуем полную замену масла в коробке под давлением через специальный сертифицированный аппарат. При помощи которого старое масло полностью выдавливается изо всех трактов АКПП и замещается новым свежим. Фильтрующие элементы заменяются сразу после вскрытия, до подключения аппарата полной замены.
        p Полная замена масла в АКПП продлевает ресурс агрегата в 2-3 раза, так как в новой трансмиссионной жидкости полностью отсутствуют элементы естественного износа агрегата.
        h3 Замена масла в редукторе БМВ #{series.modelDesc}
        p Замена масла в редукторе и раздатке осуществляется авто-шприцем с откачкой и заливкой смазки через технологические отверстия, при этом технология предусматривает промежуточную промывку узла. По-умолчанию автосервис применяет оригинальные трансмиссионные жидкости BMW. Которые при желании клиента могут быть заменены на масла аналогичной вязкости и технических свойств, но более дешёвые.
  section.prices
    .wrapper
      .titles
        .overtitle Об услуге
        h2 Цена замены масла
      .block
        .table-wrapper
          .table
            table
              tr.table-header
                td Услуга
                td Стоимость
              tr 
                td Замена масла в АКПП БМВ #{series.modelDesc}
                td <? echo format_price($workPrices['#{series.key}']['gearBoxOil']) ?>
              tr
                td Замена масла в переднем редукторе БМВ #{series.modelDesc}
                td от <? echo format_price($workPrices['#{series.key}']['frontAxleFinalDriveOil']) ?> (+ <? echo format_price($prices['finalDriveOil']['price']) ?> за литр масла)
              tr
                td Замена масла в заднем редукторе БМВ #{series.modelDesc}
                td от <? echo format_price($workPrices['#{series.key}']['rearAxleFinalDriveOil']) ?> (+ <? echo format_price($prices['finalDriveOil']['price']) ?> за литр масла)
              tr
                td Замена масла в раздатке БМВ #{series.modelDesc}
                td от <? echo format_price($workPrices['#{series.key}']['transferCaseOil']) ?> (+ <? echo format_price($prices['transferBoxOil']['price']) ?> за литр масла)
  include /maintenance/photos/oil-change
  include /about/advantages
  +about
  include /contacts
